{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block name %}
        {% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'img/logo.webp' %}"/>
<!-- Lightbox CSS -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/css/lightbox.min.css" rel="stylesheet">
</head>
<header>
    <ul>
        <li><a href="{% url 'home' %}"><img class="logo_img" src="{% static 'img/logo.webp' %}" alt="Логотип"></a></li>
    </ul>
</header>
<body>
    {% block content %} {% endblock %}
</body>
<footer>
    <hr>
        <div>
            <ul class="ul-footer">
                <li class="li-footer">
                    <a href="https://t.me/Vekyn_n">Телеграм</a>
                </li>
                <li class="li-footer"><a href="{% url 'portfolio' %}">Портфолио</a></li>
            </ul>
        </div>
</footer>
</html>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/js/lightbox-plus-jquery.min.js"></script>