{% extends 'base.html' %}

{% block name %}Главная страница{% endblock %}


{% block content %}
<section class="container">
    <div>
        <h1 class="align_center">Привет, это мой сайт</h1>
        <p class="align_center">Данный сайт рассматривайте как мою визитку</p>
    </div>
</section>
<h1 class="align_center">Мои услуги</h1>
<ul class="content_main_page">
    {% for service in services %}
        <li class="content_main_page_li">
            <h2>{{ service.title }}</h2>
            <p>{{ service.description }}</p>
            <p>Price: {{ service.price }}</p>
        </li>
    {% endfor %}
</ul>

  {% endblock %}


