{% extends 'base.html' %}

{% block name %}Главная страница{% endblock %}


{% block content %}
<section class="container">
    <div>

    </div>
    <div>
        <h1 class="align_center">Привет, это мой сайт</h1>
        <p class="align_center">Данный сайт рассматривайте как мою визитку</p>
    </div>
</section>
<h1>Наши Услуги</h1>
<ul>
    {% for service in services %}
        <li>
            <h2>{{ service.title }}</h2>
            <p>{{ service.description }}</p>
            <p>Price: {{ service.price }}</p>
        </li>
    {% endfor %}
</ul>

  {% endblock %}


