{% extends 'base.html' %}

{% block name %}Портфолио{% endblock %}

{% block content %}
<h1>Мое портфолио</h1>
<ul>
    {% for portfolio in portfolios %}
        <li>
            <h1 class="align_center">{{ portfolio.name }}</h1>
            <p>{{ portfolio.description }}</p>

            <ul class="img_portfolio_pos">
                {% for image in portfolio.images.all %}
                    <li class="img_portfolio_col">
                        <a href="{{ image.image.url }}" data-lightbox="portfolio">
                            <img class="img_portfolio" src="{{ image.image.url }}" alt="{{ image }}" style="width: 100%; height: auto;">
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </li>
    {% endfor %}
</ul>

<script>
lightbox.option({
    'disableScrolling': true
});
</script>
{% endblock %}